{% extends 'bandas/layout.html' %}

{% block content %}
    <style>
        /* Estilos adicionais aqui */
        form {
            max-width: 600px; /* Definindo a largura máxima do formulário */
            margin: 0 auto; /* Centralizando o formulário na página */
        }

        input[type="text"],
        input[type="number"],
        select,
        textarea {
            width: 100%; /* Definindo a largura dos campos de entrada como 100% */
            padding: 10px; /* Adicionando preenchimento aos campos de entrada */
            margin-bottom: 15px; /* Adicionando espaço entre os campos de entrada */
            border-radius: 5px; /* Adicionando bordas arredondadas aos campos de entrada */
            border: 1px solid #ccc; /* Adicionando uma borda sólida aos campos de entrada */
            box-sizing: border-box; /* Definindo a caixa do modelo para incluir preenchimento e borda */
            font-size: 16px; /* Definindo o tamanho da fonte para os campos de entrada */
        }

        label {
            font-weight: bold; /* Definindo a fonte em negrito para os rótulos dos campos de entrada */
        }

        button[type="submit"] {
            background-color: #007bff; /* Definindo a cor de fundo do botão de envio */
            color: #fff; /* Definindo a cor do texto do botão de envio */
            border: none; /* Removendo a borda do botão de envio */
            border-radius: 5px; /* Adicionando bordas arredondadas ao botão de envio */
            padding: 10px 20px; /* Adicionando preenchimento ao botão de envio */
            font-size: 16px; /* Definindo o tamanho da fonte do botão de envio */
            cursor: pointer; /* Mudando o cursor para uma mão quando passar sobre o botão de envio */
            transition: background-color 0.3s ease; /* Adicionando uma transição suave para a mudança de cor de fundo */
        }

        button[type="submit"]:hover {
            background-color: #0056b3; /* Mudando a cor de fundo do botão de envio ao passar o mouse sobre ele */
        }

        /* Adicionando regras de mídia para dispositivos móveis */
        @media only screen and (max-width: 600px) {
            input[type="text"],
            input[type="number"],
            select,
            textarea {
                font-size: 14px; /* Reduzindo o tamanho da fonte para os campos de entrada em dispositivos móveis */
            }

            button[type="submit"] {
                font-size: 14px; /* Reduzindo o tamanho da fonte para o botão de envio em dispositivos móveis */
                padding: 8px 16px; /* Ajustando o preenchimento do botão de envio em dispositivos móveis */
            }
        }
    </style>

    <h2>Adicionar Nova Música ao Álbum "{{ album.titulo }}"</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
{% endblock %}
