<!-- recuperar_password.html -->

{% extends 'bandas/layout.html' %}

{% block content %}
    <h2>Recuperar Password</h2>
    
    <form action="{% url 'bandas:recuperar_password' %}" method="post">
      {% csrf_token %}
      <!-- campos para inserir o username e a nova password -->
      <input type="text" name="username" placeholder="Username..">
      <input type="password" name="nova_password" placeholder="Nova Password..">
      <input type="submit" value="Recuperar">
    </form> 
{% endblock %}
